.detail-panel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  margin: 1em;
}

.detail-panel {
  width: 100%;
  font: 1em sans-serif;
}

.detail-collapse-container {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px 5px 0 0;
  border: 1px solid #dcdfe6;
}

.detail-base-info-container {
  display: flex;
  width: 100%;
}

.detail-base-info {
  font: 1em sans-serif;

  height: 2em;
  text-align: left;
  padding: 0.5em;
}

.detail-base-info-left {
  font: 1em sans-serif;
  width: 200px;
  height: 2em;
  text-align: right;
  padding: 0.5em;
}

.detail-base-info-left-sub {
  font: 1em sans-serif;
  font-weight: bolder;
  width: 200px;

  text-align: right;

  padding: 0.5em;
  margin-left: -20px;
}

.detail-base-info-middle {
  flex: 1;
  height: 2em;
  font: 1em sans-serif;
  text-align: left;
  padding: 0.5em;
}

.detail-base-info-middle-1 {
  font: 1em sans-serif;
  text-align: left;
  padding: 0.5em;
}

.detail-base-info-right {
  height: 2em;
  font: 1em sans-serif;
  padding: 0.5em;
  margin-left: auto;
}

.detail-base-info-foot {
  font: 1em sans-serif;
  padding: 0.5em;
  margin-left: auto;
}

.details-records-panel {
  border-radius: 5px 5px 0 0;
  border: 1px solid #dcdfe6;
  margin: 10px;
}

.details-records-caption {
  border-radius: 5px 5px 0 0;
  background: linear-gradient(160deg, #e6e7e7 0%, #cdcdce 100%);
  font: 0.8em sans-serif;
  padding: 0.2em;
}

.details-records-left {
  font: 1em sans-serif;
  width: 230px;
  text-align: right;
}

.details-records-right {
  font: 1em sans-serif;
  width: 100%;
}

.account-balance-insufficient {
  font: 1em sans-serif;
  color: red;
  margin: auto;
}

a {
  text-decoration: none;
}