h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.5em;

  text-align: left;
}

p {
  font-size: 1em;

  text-align: left;
}

.document-body {
  padding: 20px;
}

.divider {
  height: 0;
  border-bottom: 1px solid #dcdfe6;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}