.domain-name-frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0.5em;
    padding: 0.5em;
    box-shadow: 1px 1px 1px 0 rgba(157, 158, 158, 0.5);
}

.domain-name-frame-title {
    font: 1.5em sans-serif;

    text-align: left;
}

.domain-name-frame-toolbar {
    float: right;
}